	<div class="well">
        <p>&copy; ООО &laquo;Невский Альянс&raquo;<br />
		Офис в Санкт-Петербурге: Свердловская набережная, д. 4, лит. Б (Бизнес-Центр «Феникс»), оф. 402-2<br />
		Офис в Москве: Старопетровский проезд, д. 7А, строение 6, офис 208 (2 этаж)<br />
		Тел.: 8 (800) 333-0551 — звонок по России бесплатный<br />
		mail@nevsky-alliance.com<br />
		<a href="http://www.nevsky-alliance.com">www.nevsky-alliance.com</a></p>
      </div>
		</div> <!-- container-fluid -->
	</body>
</html>